<html lang="en" layout:decorator="/layout" ng-app="ciTrackApp">
<head>
</head>
<body ng-controller="PatientController" ng-init="loadAllPatient()">
	<div layout:fragment="sidebar">
		<h2>Patient(s)</h2>
		<hr/>
		<table class="table" id="patientsShort">
			<thead>
				<tr>
					<th>
						Name, Date of birth
					</th>
				</tr>
			</thead>
			<tbody>
			<tr ng-repeat="patient in patients">
				<td>
					<a href="/patient/view/{{patient.id}}"> <strong>{{patient.firstName}} {{patient.lastName}}, {{patient.dob}}</strong></a>
				</td>
			</tr>
			</tbody>
		</table>
		<!-- <p ng-repeat="patient in patients">
			<a href="/patient/view/{{patient.id}}"> <strong>{{patient.firstName}} {{patient.lastName}}, {{patient.dob}}</strong></a>
		</p> -->
	</div>
	<div layout:fragment="content">
		<h3>Add patient</h3>
		<hr/>
		<!--  -->
		<form class="form-horizontal" name="textFieldForm" ng-submit="submit(textFieldForm);addPatient(patient, textFieldForm)">
		  <div th:replace="/message/validation.error.message :: validationErrorMessage" />
		  <div class="form-group">
		    <label for="firstName" class="col-sm-2 control-label">First name</label>
		    <div class="col-sm-10">
		      <ci-text-field mandatory="true" placeholder="Enter first name"  ng-model="patient.firstName" 
		      name="firstName" errormessage="firstNameErrorMessage" />
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="lastName" class="col-sm-2 control-label">Last name</label>
		    <div class="col-sm-10">
		      <ci-text-field mandatory="true" placeholder="Enter last name"  ng-model="patient.lastName" name="lastName" errormessage="lastNameErrorMessage" />
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="dob" class="col-sm-2 control-label">Date of birth</label>
		    <div class="col-sm-10">
		     <!--  <ci-text-field placeholder="Enter date of birth"  ng-model="patient.dob" name="dob"/> -->
		      	<p class="input-group">
		      	<input type="text" class="form-control" uib-datepicker-popup="" ng-model="patient.dob" is-open="popup2.opened" 
		      	datepicker-options="dateOptions" ng-required="true" close-text="Close" />
		      	 <span class="input-group-btn">
            		<button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
          		</span>
          		</p>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="weight" class="col-sm-2 control-label">Weight(kg)</label>
		    <div class="col-sm-10">
		      <ci-text-field type="number" mandatory="false" placeholder="Enter weight in kg"  ng-model="patient.weight" name="weight" errormessage="weightErrorMessage" />
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="height" class="col-sm-2 control-label">Height(cm)</label>
		    <div class="col-sm-10">
		      <ci-text-field type="number"  mandatory="false" placeholder="Enter height in cm"  ng-model="patient.height" name="height" errormessage="heightErrorMessage" />
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="gender" class="col-sm-2 control-label">Gender</label>
		    <div class="col-sm-10">
		   
		     <ci-select-field   ng-model="patient.gender" name="gender" errormessage="genderErrorMessage"/>
		     
		    	<!-- <select ng-model="patient.gender" name="gender" errormessage="genderErrorMessage" ng-options="g for g in patientGender1"></select>
		    	 -->
		    	<!-- <div class="metro ng-active ng-hide" ng-messages="textFieldForm.gender.$error" multiple="" ng-show="fieldInteracted(textFieldForm.gender)">
			    	<div ng-message="mandatory" class="notice marker-on-top bg-darkRed fg-white ng-scope" style="padding: 5px;margin-top:6px">
						Please, select gender.
	  				</div>
  				</div>   -->
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="address" class="col-sm-2 control-label">Address</label>
		    <div class="col-sm-10">
		     <!--  <ci-text-field placeholder="Enter address"  ng-model="patient.address" name="address"/> -->
		      <ci-text-area placeholder="Enter address"  ng-model="patient.address" name="address" rows="3" cols="20" errormessage="addressErrorMessage" />
		    </div>
		  </div>
		  <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		      <button type="submit" class="btn btn-default" >ADD</button>
		    </div>
		  </div>
		</form>
		
		<script th:src="@{/lib/select2-4.0.2/dist/js/select2.js}"></script>
		<!-- <script th:src="@{/lib/select2.0/select2.js}"></script> -->
		<script th:src="@{/custom/js/patientController.js}"></script>
	</div>
</body>
</html>