<html lang="en" layout:decorator="/layout" ng-app="ciTrackApp">
<head>
</head>
<body ng-controller="PatientController" th:attr="ng-init='loadAllPatient(\''+${idf}+'\')'">
	<div layout:fragment="sidebar">
		<h3>Actions</h3>
		<hr/>
	
	</div>
	<div layout:fragment="content">
		<h3 ng-if="idf =='p'">Add prescription</h3>
		<p ng-if="idf =='p'" style="font-style: italic;">Please, select patient to add prescription</p>
		<h3 ng-if="idf =='pl'">Patient details</h3>
		
		<hr/>
		<table class="table" id="patients">
			<!-- <thead>
			<tr>
				<th>ID</th><th>Name</th><th>Date of birth</th><th>Age</th><th>Address</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="patient in patients">
				<td>
					{{patient.id}}
				</td>
				<td>
					{{patient.firstName}} {{patient.lastName}}
				</td>
				<td>
					{{patient.dob}}
				</td>
				<td>
					{{patient.age}}
				</td>
				<td>
					{{patient.address}}
				</td>
			</tr>
			</tbody> -->
		</table>
		
		<script th:src="@{/custom/js/patientController.js}"></script>
		
	
	</div>
</body>
</html>