<html lang="en" layout:decorator="/layout" ng-app="ciTrackApp">
<head>
</head>
<body ng-controller="PatientController" th:attr="ng-init='init('+${id}+')'">
	<div layout:fragment="sidebar">
		<h3>Actions</h3>
		<hr/>
		<div class="row placeholders">
			<div class="col-xs-8 col-sm-8 placeholder">
	            	<a  th:href="@{/prescription/add/}+${id}">
	              	<img th:src="@{/images/prescription2.jpeg}" width="200" height="200" class="img-responsive" alt="Add prescription"/>
	              	<strong>Add Prescription</strong>
	              </a>
	        </div>
		</div>
	</div>
	<div layout:fragment="content">
		<h4>Patient details</h4>
		
		<table class="table">
			<tr>
				<th>ID</th>
				<td>{{patient.id}}</td>
			</tr>
			<tr>
				<th>Name</th>
				<td>{{patient.firstName}} {{patient.lastName}}</td>
			</tr>
			<tr>
				<th>Date of birth</th>
				<td>{{patient.dob}}</td>
			</tr>
			<tr>
				<th>Age</th>
				<td>{{patient.age}}</td>
			</tr>
			<tr>
				<th>Gender</th>
				<td>{{patient.gender}}</td>
			</tr>
			<tr>
				<th>Height(cm)</th>
				<td>{{patient.height}}</td>
			</tr>
			<tr>
				<th>Weight(kg)</th>
				<td>{{patient.weight}}</td>
			</tr>
			<tr>
				<th>Address</th>
				<td>{{patient.address}}</td>
			</tr>
		</table>
		
		<script th:src="@{/custom/js/patientController.js}"></script>
	</div>
</body>
</html>