<html lang="en" layout:decorator="/layout" ng-app="ciTrackApp">
<head>
</head>
<body ng-controller="PatientController" th:attr="ng-init='init(\''+${id}+'\')'">
	<div layout:fragment="sidebar">
		<h3>Actions</h3>
		<hr/>
		<div class="row placeholders">
			<div class="col-xs-8 col-sm-8 placeholder">
	            	<a  th:href="@{/prescription/add/}+${id}">
	              	<img th:src="@{/images/prescription2.jpeg}" width="200" height="200" class="img-responsive" alt="Add prescription"/>
	              	<strong>Add Prescription</strong>
	              </a>
	        </div>
		</div>
	</div>
	<div layout:fragment="content">
		<h4>Patient details</h4>
		<div class="panel panel-primary">
			<table class="table">
				<tr>
					<th>ID:</th>
					<td>{{patient.id}}</td>
					<th>Name:</th>
					<td>{{patient.firstName}} {{patient.lastName}}</td>
				</tr>
				<tr>
					<th>Date of birth:</th>
					<td>{{patient.dob}}</td>
					<th>Age:</th>
					<td>{{patient.age}}</td>
				</tr>
				<tr>
					<th>Gender:</th>
					<td>{{patient.gender}}</td>
					<th>Height(cm):</th>
					<td>{{patient.height}}</td>
				</tr>
				<tr>
					<th>Weight(kg):</th>
					<td>{{patient.weight}}</td>
					<th>Address:</th>
					<td>{{patient.address}}</td>
				</tr>
			</table>
		</div>
		<div class="panel-group" id="prescriptionAccordion" role="tablist" aria-multiselectable="true">
		  <div class="panel panel-primary">
		    <div class="panel-heading" role="tab" id="prescriptionInfo">
		      <h4 class="panel-title">
		        <a role="button" data-toggle="collapse" data-parent="#prescriptionAccordion" href="#prescriptionCollapse" aria-expanded="true" aria-controls="prescriptionCollapse">
		          Prescription(s)
		        </a>
		      </h4>
		    </div>
		   <div id="prescriptionCollapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="prescriptionInfo">
      			<div class="panel-body">
      				<div class="panel-group" id="prescriptionItemAccordion" role="tablist" aria-multiselectable="true">
					  <div class="panel panel-default" ng-repeat="pres in prescriptions">
					    <div class="panel-heading" role="tab" id="headingPrescriptionItem{{$index}}">
					      <h4 class="panel-title">
					        <a role="button" data-toggle="collapse" data-parent="#prescriptionItemAccordion" href="#collapsePrescriptionItem{{$index}}" aria-expanded="true" aria-controls="collapsePrescriptionItem{{$index}}">
					          {{pres.date}}-{{pres.patientId}}
					        </a>
					      </h4>
					    </div>
					    <div id="collapsePrescriptionItem{{$index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingPrescriptionItem{{$index}}">
					      <!-- <div class="panel-body"> -->
					      	<form class="form-horizontal" name="textFieldForm" ng-submit="submit(textFieldForm);addPrescription(prescription, textFieldForm)">
		  					<div th:replace="/message/validation.error.message :: validationErrorMessage" />
						      	<table class="table">
								    <tr>
								    	<th>Description</th>
								    	<th>Dose</th>
								    	<th></th>
								    </tr>
								    <tr ng-repeat="presItem in pres.prescriptionItem">
								    	<td>
								    		<ci-text-field mandatory="true" placeholder="Medication description"  ng-model="presItem.description" name="description" errormessage="medicationDescErrorMessage"/>
								    	</td>
								    	<td>
								    		<label class="radio-inline">
											  <input type="radio" name="doseOptions{{$index}}" id="doseOptions111" ng-model="presItem.dose" value="1+1+1" required=""/> 1+1+1
											</label>
											<label class="radio-inline">
											  <input type="radio" name="doseOptions{{$index}}" id="doseOptions101"  ng-model="presItem.dose" value="1+0+1" required=""/> 1+0+1
											</label>
											<label class="radio-inline">
											  <input type="radio" name="doseOptions{{$index}}" id="doseOptions100" ng-model="presItem.dose" value="1+0+0" required=""/> 1+0+0
											</label>
											<label class="radio-inline">
											  <input type="radio" name="doseOptions{{$index}}" id="doseOptions010" ng-model="presItem.dose" value="0+1+0" required=""/> 0+1+0
											</label>
											<label class="radio-inline">
											  <input type="radio" name="doseOptions{{$index}}" id="doseOptions001" ng-model="presItem.dose" value="0+0+1" required=""/> 0+0+1
											</label>
											
											<!-- <label class="radio-inline">
											  <input type="radio" name="doseOptions{{$index}}" id="doseOptionsOthers" ng-model="presItem.dose" value="others" /> others
											</label> -->
											<label class="radio-inline">
												Others :
												<input type="text" name="othersDose{{$index}}" id="othersDose" ng-model="presItem.othersDose"  />
											</label>
											<label class="radio-inline">
												<button type="button" ng-click="resetDoes($index)"> Reset</button>
											</label>
								    	</td>
								    	<td>
								    		<button ng-if="$index+1 == prescriptionItem.length" ng-click="addMoreMedication()"  class="btn btn-default" >More >></button>
								    		<button ng-if="$index+1 != prescriptionItem.length" ng-click="removeMedication()"  class="btn btn-default" >Remove X</button>
								    	</td>
								    </tr> 
								    <tr>
								    	<td>
								    		<strong>Any comments</strong>
								    	</td>
								    	<td>
				 				    		 <ci-text-area placeholder="Any comments" type="textarea" ng-model="pres.comments" name="comments" rows="3" cols="20" mandatory="false" />
				 				    	</td>
								    	<td>
								    	</td>
								    </tr>
								    <tr>
								    	<td>
								    		 <button type="submit" class="btn btn-default" >ADD</button>
								    	</td>
								    	<td>
								    	</td>
								    	<td>
								    	</td>
								    </tr> 
							    </table>
							    </form>
							    
					      <!-- </div> -->
					    </div>
					  </div>
					</div>
        		</div>
    	   </div>
		  </div>
		</div>
		<script th:src="@{/custom/js/patientController.js}"></script>
	</div>
</body>
</html>