<html lang="en" layout:decorator="/layout" ng-app="ciTrackApp">
<head>
</head>
<body ng-controller="CiTrackController">
	<div>
		<div layout:fragment="sidebar">
		<!-- 	<div class="panel panel-primary">
				<div class="panel-body">
					<h3>Advanced search</h3>
					<hr />
					<div class="form-group">
						<label for="specialization" class="control-label">Specialization</label>
						<hc-combo-div id="specialization" name="specialization"
							ng-model="search.specialization" ng-change="search(search, 0)"
							ng-init="specialization = search.specialization"
							url="/rest/healthcare/specializations"
							class="form-control col-sm-3"></hc-combo-div>


					</div>

					<div class="form-group">
						<label for="city" class="control-label">City</label>
						<hc-combo-div id="city" name="city" ng-model="search.city"
							url="/cities" ng-change="search(search, 0)"
							class="form-control col-sm-3"></hc-combo-div>
					</div>

					<div class="form-group rating">
						<label for="ratings" class="control-label">Ratings</label>
						<p href="#" id="ratings" class="form-control">
							<sapn ng-repeat="p in ratingPointsArr"> <a
								ng-click="ratingPointchnage(false,$index, search)" href="#"
								ng-attr-title="test" ng-if="p.isActive"><span
								class="glyphicon glyphicon-star"></span></a> <a href="#"
								ng-click="ratingPointchnage(true,$index+1 ,search)"
								ng-attr-title="test" ng-if="!p.isActive"><span
								class="glyphicon glyphicon-star-empty"></span></a> &nbsp;</sapn>

						</p>

						<h4>
							<a href="#" ng-click="search(search, 1)"> <span
								class="glyphicon glyphicon-star"></span> &nbsp;<span
								class="glyphicon glyphicon-star-empty"></span> &nbsp;<span
								class="glyphicon glyphicon-star-empty"></span> &nbsp;<span
								class="glyphicon glyphicon-star-empty"></span> &nbsp;<span
								class="glyphicon glyphicon-star-empty"></span>
							</a>
						</h4>
						<h4>
							<a href="#" ng-click="search(search, 2)"> <span
								class="glyphicon glyphicon-star"></span> &nbsp;<span
								class="glyphicon glyphicon-star"></span> &nbsp;<span
								class="glyphicon glyphicon-star-empty"></span> &nbsp;<span
								class="glyphicon glyphicon-star-empty"></span> &nbsp;<span
								class="glyphicon glyphicon-star-empty"></span>
							</a>
						</h4>
						<h4>
							<a href="#" ng-click="search(search, 3)"> <span
								class="glyphicon glyphicon-star"></span> &nbsp;<span
								class="glyphicon glyphicon-star"></span> &nbsp;<span
								class="glyphicon glyphicon-star"></span> &nbsp;<span
								class="glyphicon glyphicon-star-empty"></span> &nbsp;<span
								class="glyphicon glyphicon-star-empty"></span>
							</a>
						</h4>
						<h4>
							<a href="#" ng-click="search(search, 4)"> <span
								class="glyphicon glyphicon-star"></span> &nbsp;<span
								class="glyphicon glyphicon-star"></span> &nbsp;<span
								class="glyphicon glyphicon-star"></span> &nbsp;<span
								class="glyphicon glyphicon-star"></span> &nbsp;<span
								class="glyphicon glyphicon-star-empty"></span>
							</a>
						</h4>
						<h4>
							<a href="#" ng-click="search(search, 5)"> <span
								class="glyphicon glyphicon-star"></span> &nbsp;<span
								class="glyphicon glyphicon-star"></span> &nbsp;<span
								class="glyphicon glyphicon-star"></span> &nbsp;<span
								class="glyphicon glyphicon-star"></span> &nbsp;<span
								class="glyphicon glyphicon-star"></span>
							</a>
						</h4>
					</div>
				</div>
			</div> -->
		</div>
		<div layout:fragment="content">
			
			<p class="pull-right visible-xs">
				<button type="button" class="btn btn-primary btn-xs"
					data-toggle="offcanvas">Toggle nav</button>
			</p>
			
				<!-- <a th:href="@{/prescription/add}"> ADD PRE</a>
				<a th:href="@{/user/add}"> ADD USER</a>
				<ng-form name="textFieldForm">
					<div
			th:replace="/message/validation.error.message :: validationErrorMessage" />
			
					<ci-text-field placeholder="enter name"  ng-model="name" name="name"/>
				</ng-form>
			 -->
			<div class="se-pre-con"></div>
			
			
			<!-- <span sec:authorize="isAuthenticated()"> 
				<span th:text="${#authentication.getPrincipal().getUser().getFirstName()}"></span>
				<span th:text="${#authentication.getPrincipal().getUser().getLastName()}"></span>
				<span th:text="${#authentication.getPrincipal().getUser().getId()}"></span>
				jjkjjkj
			</span> 
			<span sec:authorize="!isAuthenticated()"> tsttt </span>

			<h1 th:text="${#authentication.name}">Hello
				[[${#httpServletRequest.remoteUser}]]!</h1> -->


		  <h2 class="page-header">Add patient, Test, Prescription</h2>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <a th:href="@{/patient/add}"> 
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail"/>
              <h3>ADD PATIENT</h3>
              </a>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
            	<a th:href="@{/prescription/add}">
              	<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail"/>
              	<h3>ADD PRESCRIPTION</h3>
              </a>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail"/>
              <h3>Label</h3>
             
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail"/>
              <h3>Label</h3>
            </div>
          </div>
			<script th:src="@{/custom/js/ciTrackController.js}"></script>
		</div>
	</div>
</body>
</html>