<html lang="en" layout:decorator="/layout" ng-app="ciTrackApp">
<head>
</head>
<body ng-controller="PrescriptionController" th:attr="ng-init='init(\''+${id}+'\',\''+${#authentication.getPrincipal().getUser().getId()}+'\')'">
	<div layout:fragment="sidebar">
		<h2>Side bar {{patientId}}, {{userId}}
		</h2>
	</div>
	<div layout:fragment="content" >
		<div class="media">
		  <div class="media-left">
		    <a href="#">
		      <img class="media-object" th:src="@{/images/prescription2.jpeg}" width="20" height="20" alt="Prescription icon"/>
		    </a>
		  </div>
		  <div class="media-body">
		    <h4 class="media-heading">Add Prescription</h4>
		    
		  </div>
		</div>
		
		<!--  -->
		<form class="form-horizontal" name="textFieldForm" ng-submit="submit(textFieldForm);addPrescription(prescription, textFieldForm)">
		  <div th:replace="/message/validation.error.message :: validationErrorMessage" />
		  <!-- <div class="form-group">
		    <label for="address" class="col-sm-2 control-label">Description</label>
		    <div class="col-sm-10">
		      <ci-text-field placeholder="Enter address"  ng-model="patient.address" name="address"/>
		      <ci-text-area placeholder="Enter description"  ng-model="prescription.description" name="description" rows="3" cols="20" errormessage="descriptionErrorMessage" />
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="firstName" class="col-sm-2 control-label">Doses</label>
		    <div class="col-sm-10">
		      <ci-text-field placeholder="Enter doses (e.g. 1+0+1)"  ng-model="prescription.dose" 
		      name="dose" errormessage="doseErrorMessage" />
		    </div>
		  </div>
		  
		  <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		      <button type="submit" class="btn btn-default" >ADD</button>
		    </div>
		    
		  </div> -->
			  <table class="table">
				    <tr>
				    	<th>Description</th>
				    	<th>Dose</th>
				    	<th></th>
				    </tr>
				    <tr ng-repeat="presItem in prescriptionItem">
				    	<td>
				    		<ci-text-field mandatory="true" placeholder="Medication description"  ng-model="presItem.description" name="description" errormessage="medicationDescErrorMessage"/>
				    	</td>
				    	<td>
				    		<label class="radio-inline">
							  <input type="radio" name="doseOptions{{$index}}" id="doseOptions111" ng-model="presItem.dose" value="1+1+1" required=""/> 1+1+1
							</label>
							<label class="radio-inline">
							  <input type="radio" name="doseOptions{{$index}}" id="doseOptions101"  ng-model="presItem.dose" value="1+0+1" required=""/> 1+0+1
							</label>
							<label class="radio-inline">
							  <input type="radio" name="doseOptions{{$index}}" id="doseOptions100" ng-model="presItem.dose" value="1+0+0" required=""/> 1+0+0
							</label>
							<label class="radio-inline">
							  <input type="radio" name="doseOptions{{$index}}" id="doseOptions010" ng-model="presItem.dose" value="0+1+0" required=""/> 0+1+0
							</label>
							<label class="radio-inline">
							  <input type="radio" name="doseOptions{{$index}}" id="doseOptions001" ng-model="presItem.dose" value="0+0+1" required=""/> 0+0+1
							</label>
							
							<!-- <label class="radio-inline">
							  <input type="radio" name="doseOptions{{$index}}" id="doseOptionsOthers" ng-model="presItem.dose" value="others" /> others
							</label> -->
							<label class="radio-inline">
								Others :
								<input type="text" name="othersDose{{$index}}" id="othersDose" ng-model="presItem.othersDose"  />
							</label>
							<label class="radio-inline">
								<button type="button" ng-click="resetDoes($index)"> Reset</button>
							</label>
				    	</td>
				    	<td>
				    		<button ng-if="$index+1 == prescriptionItem.length" ng-click="addMoreMedication()"  class="btn btn-default" >More >></button>
				    		<button ng-if="$index+1 != prescriptionItem.length" ng-click="removeMedication()"  class="btn btn-default" >Remove X</button>
				    	</td>
				    </tr> 
				    <tr>
				    	<td>
				    		<strong>Any comments</strong>
				    	</td>
				    	<td>
 				    		 <ci-text-area placeholder="Any comments" type="textarea" ng-model="prescription.comments" name="comments" rows="3" cols="20" mandatory="false" />
 				    	</td>
				    	<td>
				    	</td>
				    </tr>
				    <tr>
				    	<td>
				    		 <button type="submit" class="btn btn-default" >ADD</button>
				    	</td>
				    	<td>
				    	</td>
				    	<td>
				    	</td>
				    </tr> 
			    </table>
		</form>
		<script th:src="@{/custom/js/prescriptionController.js}"></script>
	</div>
</body>
</html>