<div th:fragment="validationErrorMessage">
<script type="text/ng-template" id="firstNameErrorMessage">
  		<div ng-message="mandatory" class="notice marker-on-top bg-darkRed fg-white" style='padding: 5px;margin-top:6px'>
			Please, enter first name.
  		</div>
</script>
<script type="text/ng-template" id="lastNameErrorMessage">
  		<div ng-message="mandatory" class="notice marker-on-top bg-darkRed fg-white" style='padding: 5px;margin-top:6px'>
			Please, enter last name.
  		</div>
</script>
<script type="text/ng-template" id="addressErrorMessage">
  		<div ng-message="mandatory" class="notice marker-on-top bg-darkRed fg-white" style='padding: 5px;margin-top:6px'>
			Please, enter address.
  		</div>
</script>
<script type="text/ng-template" id="weightErrorMessage">
  		<div ng-message="mandatory" class="notice marker-on-top bg-darkRed fg-white" style='padding: 5px;margin-top:6px'>
			Please, enter last name.
  		</div>
</script>
<script type="text/ng-template" id="heightErrorMessage">
  		<div ng-message="mandatory" class="notice marker-on-top bg-darkRed fg-white" style='padding: 5px;margin-top:6px'>
			Please, enter address.
  		</div>
</script>
<script type="text/ng-template" id="genderErrorMessage">
  		<div ng-message="mandatory" class="notice marker-on-top bg-darkRed fg-white" style='padding: 5px;margin-top:6px'>
			Please, select gender.
  		</div>
</script>
<script type="text/ng-template" id="drQualificationsErrorMessage">
  		<div ng-message="mandatory" class="notice marker-on-top bg-darkRed fg-white" style='padding: 5px;margin-top:6px'>
			Please, doctor qualifications.
  		</div>
</script>
<script type="text/ng-template" id="userNameErrorMessage">
  		<div ng-message="mandatory" class="notice marker-on-top bg-darkRed fg-white" style='padding: 5px;margin-top:6px'>
			Please, choose user name.
  		</div>
</script>
<script type="text/ng-template" id="passwordErrorMessage">
  		<div ng-message="mandatory" class="notice marker-on-top bg-darkRed fg-white" style='padding: 5px;margin-top:6px'>
			Please, choose password.
  		</div>
</script>
</div>